msdgapi-master/msdgapi-master/MSDGAPI/Service References/ServiceReference1/Tsmobileapss.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ax235="http://hmwssb.gateway.mobile.eseva.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax229="http://auth.gateway.mobile.eseva.com/xsd" xmlns:ns="http://gateway.mobile.eseva.com" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax233="http://airtelLandLine.gateway.mobile.eseva.com/xsd" xmlns:ax231="http://airtel.gateway.mobile.eseva.com/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax237="http://idea.gateway.mobile.eseva.com/xsd" targetNamespace="http://gateway.mobile.eseva.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://airtelLandLine.gateway.mobile.eseva.com/xsd">
      <xs:complexType name="AirtelLandLineBillResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="strAccountno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strBillamount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strConsumername" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strReqid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strResCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strResDesc" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://airtel.gateway.mobile.eseva.com/xsd">
      <xs:complexType name="AirtelBillResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="strAccountno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strBillamount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strConsumername" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strReqid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strResCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strResDesc" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://idea.gateway.mobile.eseva.com/xsd">
      <xs:complexType name="IdeaBillResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="strAccountno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strAdd1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strAdd2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strAdd3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strBillamount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strConsumername" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strReqid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strResCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strResDesc" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://hmwssb.gateway.mobile.eseva.com/xsd">
      <xs:complexType name="HmwssbBillResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="strAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strCan" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strCategory" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strMobileno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strReqId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strResCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strResDesc" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax236="http://hmwssb.gateway.mobile.eseva.com/xsd" xmlns:ax234="http://airtelLandLine.gateway.mobile.eseva.com/xsd" xmlns:ax232="http://airtel.gateway.mobile.eseva.com/xsd" xmlns:ax230="http://auth.gateway.mobile.eseva.com/xsd" xmlns:ax238="http://idea.gateway.mobile.eseva.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://gateway.mobile.eseva.com">
      <xs:import namespace="http://auth.gateway.mobile.eseva.com/xsd" />
      <xs:import namespace="http://airtel.gateway.mobile.eseva.com/xsd" />
      <xs:import namespace="http://airtelLandLine.gateway.mobile.eseva.com/xsd" />
      <xs:import namespace="http://hmwssb.gateway.mobile.eseva.com/xsd" />
      <xs:import namespace="http://idea.gateway.mobile.eseva.com/xsd" />
      <xs:element name="AirtelBillDetails">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="strMobileno" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="RequestBean" nillable="true" type="ax230:AuthRequestBean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AirtelBillDetailsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax232:AirtelBillResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AirtelLandLineBillDetails">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="strMobileno" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="RequestBean" nillable="true" type="ax230:AuthRequestBean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AirtelLandLineBillDetailsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax234:AirtelLandLineBillResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="HmwssbBillDetails">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="strConsno" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="RequestBean" nillable="true" type="ax230:AuthRequestBean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="HmwssbBillDetailsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax236:HmwssbBillResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="IdeaBillDetails">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="strMobileno" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="RequestBean" nillable="true" type="ax230:AuthRequestBean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="IdeaBillDetailsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax238:IdeaBillResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://auth.gateway.mobile.eseva.com/xsd">
      <xs:complexType name="AuthRequestBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="groupid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="serviceid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strCentrecode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strDistcode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strStaffcode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strdeptcode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="HmwssbBillDetailsRequest">
    <wsdl:part name="parameters" element="ns:HmwssbBillDetails" />
  </wsdl:message>
  <wsdl:message name="HmwssbBillDetailsResponse">
    <wsdl:part name="parameters" element="ns:HmwssbBillDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="AirtelBillDetailsRequest">
    <wsdl:part name="parameters" element="ns:AirtelBillDetails" />
  </wsdl:message>
  <wsdl:message name="AirtelBillDetailsResponse">
    <wsdl:part name="parameters" element="ns:AirtelBillDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IdeaBillDetailsRequest">
    <wsdl:part name="parameters" element="ns:IdeaBillDetails" />
  </wsdl:message>
  <wsdl:message name="IdeaBillDetailsResponse">
    <wsdl:part name="parameters" element="ns:IdeaBillDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="AirtelLandLineBillDetailsRequest">
    <wsdl:part name="parameters" element="ns:AirtelLandLineBillDetails" />
  </wsdl:message>
  <wsdl:message name="AirtelLandLineBillDetailsResponse">
    <wsdl:part name="parameters" element="ns:AirtelLandLineBillDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="TsmobileapssPortType">
    <wsdl:operation name="HmwssbBillDetails">
      <wsdl:input wsaw:Action="urn:HmwssbBillDetails" message="ns:HmwssbBillDetailsRequest" />
      <wsdl:output wsaw:Action="urn:HmwssbBillDetailsResponse" message="ns:HmwssbBillDetailsResponse" />
    </wsdl:operation>
    <wsdl:operation name="AirtelBillDetails">
      <wsdl:input wsaw:Action="urn:AirtelBillDetails" message="ns:AirtelBillDetailsRequest" />
      <wsdl:output wsaw:Action="urn:AirtelBillDetailsResponse" message="ns:AirtelBillDetailsResponse" />
    </wsdl:operation>
    <wsdl:operation name="IdeaBillDetails">
      <wsdl:input wsaw:Action="urn:IdeaBillDetails" message="ns:IdeaBillDetailsRequest" />
      <wsdl:output wsaw:Action="urn:IdeaBillDetailsResponse" message="ns:IdeaBillDetailsResponse" />
    </wsdl:operation>
    <wsdl:operation name="AirtelLandLineBillDetails">
      <wsdl:input wsaw:Action="urn:AirtelLandLineBillDetails" message="ns:AirtelLandLineBillDetailsRequest" />
      <wsdl:output wsaw:Action="urn:AirtelLandLineBillDetailsResponse" message="ns:AirtelLandLineBillDetailsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TsmobileapssSoap11Binding" type="ns:TsmobileapssPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HmwssbBillDetails">
      <soap:operation soapAction="urn:HmwssbBillDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AirtelBillDetails">
      <soap:operation soapAction="urn:AirtelBillDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IdeaBillDetails">
      <soap:operation soapAction="urn:IdeaBillDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AirtelLandLineBillDetails">
      <soap:operation soapAction="urn:AirtelLandLineBillDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TsmobileapssSoap12Binding" type="ns:TsmobileapssPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HmwssbBillDetails">
      <soap12:operation soapAction="urn:HmwssbBillDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AirtelBillDetails">
      <soap12:operation soapAction="urn:AirtelBillDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IdeaBillDetails">
      <soap12:operation soapAction="urn:IdeaBillDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AirtelLandLineBillDetails">
      <soap12:operation soapAction="urn:AirtelLandLineBillDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TsmobileapssHttpBinding" type="ns:TsmobileapssPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="HmwssbBillDetails">
      <http:operation location="Tsmobileapss/HmwssbBillDetails" />
      <wsdl:input>
        <mime:content part="HmwssbBillDetails" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="HmwssbBillDetails" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AirtelBillDetails">
      <http:operation location="Tsmobileapss/AirtelBillDetails" />
      <wsdl:input>
        <mime:content part="AirtelBillDetails" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="AirtelBillDetails" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IdeaBillDetails">
      <http:operation location="Tsmobileapss/IdeaBillDetails" />
      <wsdl:input>
        <mime:content part="IdeaBillDetails" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="IdeaBillDetails" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AirtelLandLineBillDetails">
      <http:operation location="Tsmobileapss/AirtelLandLineBillDetails" />
      <wsdl:input>
        <mime:content part="AirtelLandLineBillDetails" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="AirtelLandLineBillDetails" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Tsmobileapss">
    <wsdl:port name="TsmobileapssHttpSoap11Endpoint" binding="ns:TsmobileapssSoap11Binding">
      <soap:address location="http://10.10.42.6:80/CentralPortal/services/Tsmobileapss.TsmobileapssHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="TsmobileapssHttpSoap12Endpoint" binding="ns:TsmobileapssSoap12Binding">
      <soap12:address location="http://10.10.42.6:80/CentralPortal/services/Tsmobileapss.TsmobileapssHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="TsmobileapssHttpEndpoint" binding="ns:TsmobileapssHttpBinding">
      <http:address location="http://10.10.42.6:80/CentralPortal/services/Tsmobileapss.TsmobileapssHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>